/*
@author resume.io
*/
:root {
  --color1: #f4511e;
  --color2: #fff;
}
iframe{
	width: 100%;
	height:500px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.logo {
    font-size: 200px;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}
#stance{
	position: absolute;
	height: 60%;
	display: inline-block;
	padding-top: 5%;
	/*transform: rotate(-45deg);*/
	left: 80%;
}
.jumbotron {
background-color: var(--color1);
color: var(--color2);
padding: 100px 25px;
}

.container-fluid {
padding: 60px 50px;
}
/* Add an orange color to all icons and set the font-size */
.logo-small {
	color: var(--color1);
	font-size: 50px;
}

.logo {
	color: var(--color1);
	font-size: 200px;
}
.navbar {
	margin-bottom: 0;
background-color: var(--color1);	/*z-index: 9999;*/
	border: 0;
	font-size: 12px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
	color: var(--color2) !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
	color: var(--color2) !important;
	background-color: #000 !important;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
	color: var(--color2) !important;
}
#synonymbox{
	background-color: black;
	color: white;
	font-style:italic;
	border: 10px solid black;
	border-radius:15px;
}
.thumbnail {
	padding: 0 0 15px 0;
	border: 1px solid white;
	border-radius: 10px;
}
.thumbnail:hover{
	border: 5px solid white;
	

}
.thumbnail img {
	/*width: 400px;*/
	/*height: 400px;*/
	margin-bottom: 10px;
	border: 5px solid var(--color1);
	border-radius:10px;
}
.item-caption {
	color: #0000ff !important;
}