/*
@author resume.io
*/
:root {
  --color1: #00ffcc;
  --color2: #000;
}
#projcontainer{
	height: 10%;
}
hr{
	width: 100%;
}
iframe{
	width:260px;
	height:315px;
	position: static;
}
.neeson{
	background-image: url(img/neeson.png);
	width: 100%;
	height: 100%;
}
.smalltitleicon{
	position: absolute;
	top: 0.8rem;
	left: -4.7rem;
	width: 2.4rem;
	height: 2.4rem;
	background-size: contain;
	background-repeat: no-repeat;
}
.bg-grey {
    background-color: #f6f6f6;
}
.logo {
    font-size: 200px;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}
#stance{
	position: absolute;
	height: 60%;
	display: inline-block;
	padding-top: 5%;
	/*transform: rotate(-45deg);*/
	left: 80%;
	z-index: 1;
	padding-top: 6rem;
}
.jumbotron {
background-color: var(--color1);
color: var(--color2);
padding: 100px;
margin-bottom: 0px;
}

.container-fluid {
padding: 60px 50px;
}
/* Add an orange color to all icons and set the font-size */
.logo-small {
	color: var(--color1);
	font-size: 50px;
}

.logo {
	color: var(--color1);
	font-size: 200px;
}
.navbar {
	margin-bottom: 0;
background-color: var(--color1);	/*z-index: 9999;*/
	border: 0;
	font-size: 12px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
	color: var(--color2) !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
	color: var(--color2) !important;
	background-color: #000 !important;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
	color: var(--color2) !important;
}
#synonymbox{
	background-color: black;
	color: white;
	font-style:italic;
	border: 10px solid black;
	border-radius:15px;
}
.thumbnail {

	padding: 0 0 15px 0;
	border-bottom: 1px solid gray;
}
.thumbnail:hover{
	border-bottom: 10px solid var(--color1);

}
.thumbnail img {
	/*width: 400px;*/
	/*height: 400px;*/
	margin-top: 10px;
	margin-bottom: 10px;
	border: 5px solid white;
	border-radius:10px;
}
.item-caption {
	color: #0000ff !important;
}
